* {
  font-family: "Balsamiq Sans", sans-serif;
}

h1 {
  font-weight: normal;
  margin: 0;
}

button {
  border: 2px solid black;
  background-color: white;
}

button.rectangle {
  box-shadow: 2px 2px black;
  padding: 0.5rem 3rem;
}

button.shorter-button {
  box-shadow: 2px 2px black;
  padding: 0.2rem 1rem;
}

button.square-button {
  width: 70%;
  height: 80px;
  box-sizing: border-box;
  background-color: white;
}

button.square-button:hover {
  background-color: #ddd;
}

button.update-button {
  margin: 1px 5px;
  background-color: rgba(43, 120, 228, 255);
  color: white;
}

button.delete-button {
  margin: 1px 32px 1px 1px;
  background-color: rgba(204, 0, 0, 255);
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: rgba(149, 188, 242, 255);
  color: black;
}

.text-align-start {
  text-align: start;
}

.text-align-end {
  text-align: end;
}

select {
  padding: 0.2rem;
  width: 110px;
  border: 2px solid black;
  margin: 0 1rem 1rem 0;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid black;
}

::placeholder {
  color: black;
}

textarea:focus::placeholder {
  color: transparent;
}

.grey-overlay {
  background-color: black;
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal {
  width: 600px;
  height: 375px;
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 2rem;
  z-index: 2;
}

.table {
  width: 100%;
  border: 3px solid black;
  border-spacing: 0;
}

td {
  padding: 3px;
  text-align: start;
}

tr {
  height: 2rem;
}

th {
  padding: 3px;
  text-align: left;
  background-color: #ccc;
}

.odd {
  background-color: #eee;
}

th:nth-child(odd):not(:last-child),
td:nth-child(odd):not(:last-child) {
  border-right: 2px solid black;
}
